<div class="cart-table clearfix">
  <table class="table table-responsive">
    <thead>
      <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cartItem of Products">
        <td class="cart_product_img d-flex align-items-center">
          <a href="#"
            ><img
              src="../../../../assets/img/product-img/product-9.jpg"
              alt="Product"
          /></a>
          <h6>{{ cartItem.Name }}</h6>
        </td>
        <td class="price">
          <span>${{ cartItem.Price }}</span>
        </td>
        <td class="qty">
          <div class="quantity">
            <span
              class="qty-minus border"
              (click)="EditItem('Remove', cartItem.Id)"
              ><i class="fa fa-minus" aria-hidden="true"></i
            ></span>
            <input
              type="text"
              class="qty-text"
              id="qty"
              name="quantity"
              value="{{ cartItem.Qty }}"
            />
            <span class="qty-plus border" (click)="EditItem('Add', cartItem.Id)"
              ><i class="fa fa-plus" aria-hidden="true"></i
            ></span>
          </div>
        </td>
        <td class="total_price">
          <span>${{ cartItem.Amount }}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="cart-footer d-flex mt-30">
  <div class="back-to-shop w-50">
    <a [routerLink]="['../shop']">Continue shooping</a>
  </div>
  <div class="update-checkout w-50 text-right">
    <a (click)="ClearCart()">clear cart</a>
    <a (click)="AddToCart()">Add to cart</a>
  </div>
</div>
