

<div class="section_padding_100">
    <div class="container">
    <div class="mb-4 row">
        <div class="col-md-12 d-md-flex  align-items-center justify-content-between">
            <h2>Users</h2>
            <button class="btn btn-primary" (click)="OpenModalAddUser()">Add User</button>
        </div>
    </div>
    <table datatable [dtOptions]="dtOptions" class="row-border hover">
        <thead>
            <tr>
                <th >First Name</th>
                <th >Last Name</th>
                <th >Email</th>
                <th >Phone Number</th>
                <th >Date</th>
                <th >Action</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let userItem of userList">
              <td>{{userItem.FirstName}}</td>
              <td>{{userItem.LastName}}</td>
              <td>{{userItem.Email}}</td>
              <td>{{userItem.PhoneNo}}</td>
              <td>{{userItem.DOB | date: 'dd-MM-yyyy'}}</td>
              <td class="action-btn">
                  <input type="hidden" value="{{userItem.UserId}}" id="UserId" />
                  <i (click)="UpdateUser(userItem.UserId)" class="ti-pencil" aria-hidden="true"></i> &nbsp; &nbsp;
                  <a title="Delete Users"> <i (click)="deleteUser(userItem.UserId, userItem.FirstName + ' ' + userItem.LastName)" class="ti-trash" aria-hidden="true"></i></a></td>
          </tr>

        </tbody>
    </table>
     
    </div>
    </div>
