

<div class="section_padding_100">
    <div class="container">
    <div class="mb-4 row">
        <div class="col-md-12 d-md-flex  align-items-center justify-content-between">
            <h2>Users</h2>
            <button class="btn btn-primary" (click)="OpenModalAddUser()">Add User</button>
        </div>
    </div>
    <table datatable [dtOptions]="dtOptions"  class="row-border hover userlist">
        <thead>
            <tr>
                <th style="width: 8%;" ></th>
                <th style="width: 25%;" >Name</th>
                <th style="width: 30%;">Email</th>
                <th style="width: 15%;">Phone Number</th>
                <th style="width: 7%;">Date</th>
                <th style="text-align: right; width: 15%;" >Actions</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let userItem of userList">
              <td>
                  <div class="profile-pic">
                  
                  <img class="logo" [src]="userItem.profilePhoto=='' || userItem.profilePhoto==null? baseUrl + 'assets/img/user-img/avtar.png' : baseUrl + 'assets/img/user-img/' + userItem.profilePhoto">
                </div>
                </td>
              <td>{{userItem.firstName}} {{userItem.lastName}} </td>
              <td>{{userItem.email}}</td>
              <td>{{userItem.phoneNo}}</td>
              <td>{{userItem.dob | date: 'MM/dd/yyyy'}}</td>
              <td class="action-btn" style="text-align: right;">
                  <input type="hidden" value="{{userItem.userId}}" id="UserId" />
                  <a title="Edit User"><i (click)="UpdateUser(userItem.userId)" class="ti-pencil" aria-hidden="true"></i></a>
                  <a title="Delete User"> <i (click)="deleteUser(userItem.userId, userItem.firstName + ' ' + userItem.lastName)" class="ti-trash" aria-hidden="true"></i></a></td>
          </tr>

        </tbody>
    </table>
     
    </div>
    </div>
