<div class="cart_area section_padding_100 clearfix">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <app-cart-items></app-cart-items>
      </div>
    </div>

    <div class="row text-right" *ngIf="cartItemCount > 0">
      <div class="col-md-8"></div>
      <div class="col-md-4">
        <div class="cart-total-area mt-70">
          <ul class="cart-total-chart">
            <li><span>Subtotal</span> <span>${{ cartItemAmount | number: "1.0-2" }}</span></li>
            <li><span>Shipping</span> <span>Free</span></li>
            <li>
              <span><strong>Total</strong></span>
              <span
                ><strong>${{ cartItemAmount | number: "1.0-2" }}</strong></span
              >
            </li>
          </ul>
          <a [routerLink]="['../checkout']" class="btn karl-checkout-btn"
            >Proceed to checkout</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
