<div class="cart_area section_padding_100 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
               <app-cart-items></app-cart-items>
            </div>
        </div>

        <div class="row text-right">
            <!-- <div class="col-12 col-md-6 col-lg-4">
                <div class="coupon-code-area mt-70">
                    <div class="cart-page-heading">
                        <h5>Cupon code</h5>
                        <p>Enter your cupone code</p>
                    </div>
                    <form action="#">
                        <input type="search" name="search" placeholder="#569ab15">
                        <button type="submit">Apply</button>
                    </form>
                </div>
            </div> -->
            <!-- <div class="col-12 col-md-6 col-lg-4">
               <app-shipping-methods></app-shipping-methods>
            </div> -->
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <div class="cart-total-area mt-70">
                    <!-- <div class="cart-page-heading">
                        <h5>Cart total</h5>
                        <p>Final info</p>
                    </div> -->

                    <ul class="cart-total-chart">
                        <li><span>Subtotal</span> <span>$59.90</span></li>
                        <li><span>Shipping</span> <span>Free</span></li>
                        <li><span><strong>Total</strong></span> <span><strong>$59.90</strong></span></li>
                    </ul>
                    <a [routerLink]="['../checkout']" class="btn karl-checkout-btn">Proceed to checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>
