<div class="login_area section_padding_10">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12 ml-md-auto mr-md-auto">
        <div class="login-popup-wrapper">
          <div class="modal-header">
            <h5>{{ isEdit ? "Update Product" : "Add Product" }}</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              (click)="onCancel()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <form [formGroup]="productForm" (ngSubmit)="submitForm()">
            <div class="modal-body">
              <div class="form-group">
                <input
                  type="text"
                  formControlName="name"
                  class="form-control"
                  maxlength="100"
                  placeholder="Product Name"
                  [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                  required
                />
              </div>

              <div class="form-group">
                <input
                  type="number"
                  formControlName="price"
                  class="form-control"
                  placeholder="Price ($-0.00)"
                  [ngClass]="{
                    'is-invalid': submitted && f.price.errors
                  }"
                  required
                />
              </div>
              <div class="form-group">
                
                <select
                [(ngModel)]="seletedCategory"
                  formControlName="category"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.category.errors }"
                  required
                >
                  <option value="">-- Select Category --</option>
                  <option
                    *ngFor="let category of categoryList"
                    value="{{ category }}"
                  >
                    {{ category | titlecase }}
                  </option>
                </select>
              </div>

              <div class="form-group">
               
                <select
                [(ngModel)]="seletedColor"
                  formControlName="color"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.color.errors }"
                  required
                >
                  <option value="">-- Select Color --</option>
                  <option *ngFor="let color of colorList" value="{{ color }}">
                    {{ color | titlecase }}
                  </option>
                </select>
              </div>

              <div class="form-group">
                <input
                  type="text"
                  formControlName="img"
                  class="form-control"
                  placeholder="image name"
                  [ngClass]="{ 'is-invalid': submitted && f.img.errors }"
                  required
                />
              </div>
              <div class="form-group">
                <textarea
                  class="form-control"
                  formControlName="description"
                  maxlength="500"
                  placeholder="Description"
                  style="height: 100px"
                  [ngClass]="{
                    'is-invalid': submitted && f.description.errors
                  }"
                  required
                ></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <div class="text-center">
                <button
                  type="submit"
                  class="btn btn-primary"
                  [disabled]="!productForm.valid"
                >
                  {{ isEdit ? "UPDATE" : "SUBMIT" }}
                </button>

                &nbsp;&nbsp;&nbsp;
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="onReset()"
                >
                  Reset
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
