<div class="checkout_details_area mt-50 clearfix">

    <div class="cart-page-heading">
        <h5>Billing Address</h5>
        <p>Enter your cupone code</p>
    </div>

    <form [formGroup]="userBillingDetails" method="post">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="first_name">First Name <span>*</span></label>
                <input type="text" class="form-control" formControlName="first_name"  id="first_name" value="" [ngClass]="{ 'is-invalid': userBillingDetails.controls['first_name'].invalid 
                && (userBillingDetails.controls['first_name'].dirty || userBillingDetails.controls['first_name'].touched) }" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="last_name">Last Name <span>*</span></label>
                <input type="text" class="form-control" formControlName="last_name" id="last_name" value="" [ngClass]="{ 'is-invalid': userBillingDetails.controls['last_name'].invalid 
                && (userBillingDetails.controls['last_name'].dirty || userBillingDetails.controls['last_name'].touched) }" required>
            </div>
            <div class="col-12 mb-3">
                <label for="company">Company Name</label>
                <input type="text" class="form-control" formControlName="company" id="company" [ngClass]="{ 'is-invalid': userBillingDetails.controls['company'].invalid 
                && (userBillingDetails.controls['company'].dirty || userBillingDetails.controls['company'].touched) }" value="">
            </div>
            <div class="col-12 mb-3">
                <label for="country">Country <span>*</span></label>
                <select class="custom-select d-block w-100" id="country" formControlName="country" [ngClass]="{ 'is-invalid': userBillingDetails.controls['country'].invalid 
                && (userBillingDetails.controls['country'].dirty || userBillingDetails.controls['country'].touched) }">
                <option value="usa">United States</option>
                <option value="uk">United Kingdom</option>
                <option value="ger">Germany</option>
                <option value="fra">France</option>
                <option value="ind">India</option>
                <option value="aus">Australia</option>
                <option value="bra">Brazil</option>
                <option value="cana">Canada</option>
            </select>
            </div>
            <div class="col-12 mb-3">
                <label for="street_address">Address <span>*</span></label>
                <input type="text" class="form-control mb-3" formControlName="street_address" id="street_address" value="" [ngClass]="{ 'is-invalid': userBillingDetails.controls['street_address'].invalid 
                && (userBillingDetails.controls['street_address'].dirty || userBillingDetails.controls['street_address'].touched) }">
                <input type="text" class="form-control" formControlName="street_address2" id="street_address2" value="" [ngClass]="{ 'is-invalid': userBillingDetails.controls['street_address2'].invalid 
                && (userBillingDetails.controls['street_address2'].dirty || userBillingDetails.controls['street_address2'].touched) }">
            </div>
            <div class="col-12 mb-3">
                <label for="postcode">Postcode <span>*</span></label>
                <input type="text" class="form-control" formControlName="postcode" id="postcode" value="" [ngClass]="{ 'is-invalid': userBillingDetails.controls['postcode'].invalid 
                && (userBillingDetails.controls['postcode'].dirty || userBillingDetails.controls['postcode'].touched) }">
            </div>
            <div class="col-12 mb-3">
                <label for="city">Town/City <span>*</span></label>
                <input type="text" class="form-control" formControlName="city" id="city" value="" [ngClass]="{ 'is-invalid': userBillingDetails.controls['city'].invalid 
                && (userBillingDetails.controls['city'].dirty || userBillingDetails.controls['city'].touched) }">
            </div>
            <div class="col-12 mb-3">
                <label for="state">Province <span>*</span></label>
                <input type="text" class="form-control" formControlName="state" id="state" value="" [ngClass]="{ 'is-invalid': userBillingDetails.controls['state'].invalid 
                && (userBillingDetails.controls['state'].dirty || userBillingDetails.controls['state'].touched) }">
            </div>
            <div class="col-12 mb-3">
                <label for="phone_number">Phone No <span>*</span></label>
                <input type="number" class="form-control" formControlName="phone_number" id="phone_number" min="0" value="" [ngClass]="{ 'is-invalid': userBillingDetails.controls['phone_number'].invalid 
                && (userBillingDetails.controls['phone_number'].dirty || userBillingDetails.controls['phone_number'].touched) }">
            </div>
            <div class="col-12 mb-4">
                <label for="email_address">Email Address <span>*</span></label>
                <input type="email" class="form-control" formControlName="email_address" id="email_address" value="" [ngClass]="{ 'is-invalid': userBillingDetails.controls['email_address'].invalid 
                && (userBillingDetails.controls['email_address'].dirty || userBillingDetails.controls['email_address'].touched) }">
            </div>
        </div>
    </form>
</div>
