<header class="header_area">
    <!-- Top Header Area Start -->
    <div class="top_header_area">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-end">

                <div class="col-12 col-lg-12">
                    <div class="top_single_area d-flex align-items-center">
                        <div class="header-cart-menu d-flex align-items-center mr-auto">
                            <!-- Cart Area -->
                            <div class="header-right-side-menu mr-15" *ngIf="!logged">
                                <a [routerLink]="['/login']" ><i class="ti-user" aria-hidden="true"></i></a>
                                <!-- login -->
                            </div>
                            <div class="header-right-side-menu mr-15" *ngIf="logged">
                                <a [routerLink]="['/login']" (click)="btnLogout()" ><i class="ti-shift-right" aria-hidden="true"></i></a>
                                <!-- logout -->
                            </div>
                            <a>{{userName}}</a>
                        </div>
                        <!-- Logo Area -->
                        <div class="top_logo">
                            <a [routerLink]="['/']"><img src="../../../../assets/img/core-img/logo.png" alt=""></a>
                        </div>
                        <!-- Cart & Menu Area -->
                        <div class="header-cart-menu d-flex align-items-center ml-auto">
                            <!-- Cart Area -->
                            <div class="cart">
                                <a [routerLink]="['/cart']" id="header-cart-btn" ><span class="cart_quantity">{{CartItemCount}}</span> <i class="ti-bag"></i> Your Bag ${{CartItemAmount | number : "1.0-2" }}</a>
                                <a id="header-cart-btn" [routerLink]="['/cart']"><span class="cart_quantity">{{CartItemCount}}</span> <i class="ti-bag"></i> Your Bag ${{CartItemAmount | number : "1.0-2" }}</a>
                                <!-- Cart List Area Start -->
                                <ul class="cart-list">
                                    <li>
                                        <a href="#" class="image"><img src="../../../../assets/img/product-img/product-10.jpg" class="cart-thumb" alt=""></a>
                                        <div class="cart-item-desc">
                                            <h6><a href="#">Women's Fashion</a></h6>
                                            <p>1x - <span class="price">$10</span></p>
                                        </div>
                                        <span class="dropdown-product-remove"><i class="icon-cross"></i></span>
                                    </li>
                                    <li>
                                        <a href="#" class="image"><img src="../../../../assets/img/product-img/product-11.jpg" class="cart-thumb" alt=""></a>
                                        <div class="cart-item-desc">
                                            <h6><a href="#">Women's Fashion</a></h6>
                                            <p>1x - <span class="price">$10</span></p>
                                        </div>
                                        <span class="dropdown-product-remove"><i class="icon-cross"></i></span>
                                    </li>
                                    <li class="total">
                                        <span class="pull-right">Total: $20.00</span>
                                        <a [routerLink]="['/cart']" class="btn btn-sm btn-cart">Cart</a>
                                        <a [routerLink]="['/checkout']" class="btn btn-sm btn-checkout">Checkout</a>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Top Header Area End -->
    <div class="main_header_area">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 d-md-flex justify-content-between">
                    <!-- Header Social Area -->
                    <div class="header-social-area">
                        <a href="#"><span class="karl-level">Share</span> <i class="fa fa-pinterest" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                    <!-- Menu Area -->
                    <div class="main-menu-area">
                        <nav class="navbar navbar-expand-lg align-items-start">

                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#karl-navbar" aria-controls="karl-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"><i class="ti-menu"></i></span></button>

                            <div class="collapse navbar-collapse align-items-start collapse" id="karl-navbar">
                                <ul class="navbar-nav animated" id="nav">
                                    <li class="nav-item"><a class="nav-link" [routerLink]="['/']">Home</a></li>
                                    <li class="nav-item"><a class="nav-link" [routerLink]="['/shop']">Shop</a></li>
                                    <!-- <li class="nav-item"><a class="nav-link" [routerLink]="['/product-details']">Product Details</a></li> -->
                                    <li class="nav-item"><a class="nav-link" [routerLink]="['/cart']">Cart</a></li>
                                    <li class="nav-item"><a class="nav-link" [routerLink]="['/checkout']">Checkout</a></li>

                                </ul>
                            </div>
                        </nav>
                    </div>
                    <!-- Help Line -->
                    <div class="help-line">
                        <a href="#"><i class="ti-headphone-alt"></i> +34 657 3556 778</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="top-discount-area d-md-flex align-items-center">
    <!-- Single Discount Area -->
    <div class="single-discount-area">
        <h5>Free Shipping &amp; Returns</h5>
        <h6><a href="#">BUY NOW</a></h6>
    </div>
    <!-- Single Discount Area -->
    <div class="single-discount-area">
        <h5>20% Discount for all dresses</h5>
        <h6>USE CODE: Colorlib</h6>
    </div>
    <!-- Single Discount Area -->
    <div class="single-discount-area">
        <h5>20% Discount for students</h5>
        <h6>USE CODE: Colorlib</h6>
    </div>
</section>
