<body>
  <div class="card">
    <div
      style="
        border-radius: 200px;
        height: 200px;
        width: 200px;
        background: #f8faf5;
        margin: 0 auto;
      "
    >
      <i class="checkmark">✓</i>
    </div>
    <h1>Success</h1>
    <p>
      We received your purchase request;<br />
      we'll be in touch shortly!
    </p>
  </div>

  <!-- <div class="card">
    <div class="row">
      <h2>Order Details</h2>
    </div>
    <div class="row">
      <hr />
    </div>

    <div class="row">
      <div class="col=md-4"></div>
      <div class="col=md-6">{{ billingDetails.value }}</div>
    </div>
  </div> -->
</body>
